<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lem.nicetools.baasdemo">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".base.BaseApp"
    android:allowBackup="true"
    android:icon="@mipmap/logo"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.BaasDemo">
    <activity android:name=".ModifyPasswdActivity"></activity>
    <activity android:name=".UserInfoActivity" />
    <activity android:name=".AddInfoActivity" />
    <activity android:name=".RegisterActivity" />
    <activity android:name=".LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity" />
  </application>

</manifest>